.flex-container {
  display: flex;
}

#app {
  justify-content: center;
}

#header {
  justify-content: center;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/3/32/Ben_Kenobi.png);
  height: 273px;
  width: 365px;
  align-items: center;
  color: aqua;
  margin-inline: auto;
}

#about {
  width: 75%;
  margin-inline: auto;
  color: aqua;
}

#images {
  justify-content: space-around;
}